@import url('https://fonts.googleapis.com/css?family=Nunito:400,900|Montserrat|Roboto');

h3 {
  font-family: 'Montserrat', sans-serif;
  /* font-size: 1.8em; */
  font-weight: bold;
  line-height: 2em;
}

.buttonRight {
  text-align: right;
}

.btn-flat {
  background-color: #e4543d !important;
  color: white !important;
}

body {
  background-color: #f5f5f5 !important;
}



