/* @import "~bootstrap/dist/css/bootstrap.css";
@import "~bootstrap-icons/font/bootstrap-icons.css";



@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@100;200;300;400;500;600;700;800;900&display=swap");




.LoginPage {
  border-radius: 10px;
  border: 2px solid black;
  padding: 0 20px 20px 10px;
  width: 500px;
  height: 450px;
  text-align: center;
  margin: 10px auto;
  background: rgba(255, 255, 255, 0.15);
  box-shadow: 0 8px 32px 0 rgba(99, 99, 100, 0.37);
  backdrop-filter: blur(8.5px);
  color: #ffffff;

}



.logo {
  text-align: center;
  display: block;
  justify-content: center;
  align-items: center;
  margin: auto;
  width: 100%;

}

body {
  background-color: white;
  font-family: 'Raleway', sans-serif;
  background-image: url(./background.jpg);
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  width: auto;
  height: auto;

}

.bi-facebook {

  color: #3B5998;

}

.bi-google {

  color: #dd4b39;

}

.bi-twitter {

  color: #55ACEE;

}

.bi {
  padding: 5px;
  font-size: 35px;
  width: 60px;
  text-align: center;
  text-decoration: none;
  margin: 5px 2px;

}

.control-label {
  margin-right: 50%;
  position: absolute;
}

.control-label-email {
  margin-right: 55%;
  position: absolute;

}


.form-group input[type="text"] {
  padding-left: 40px;
}

.form-group {
  position: relative;
}

.form-group i {
  position: relative;

  margin-right: 55%;
  font-size: 20px;
  left: 0;
  top: 36px;
  padding: 9px 8px;
  color: #808080;

}



.form-group2 input[type="text"] {
  padding-left: 40px;
}

.form-group2 {
  position: relative;
}

.form-group2 i {
  position: relative;
  margin-right: 55%;
  font-size: 21px;
  left: 0;
  top: 36px;
  padding: 9px 8px;
  color: #808080;

}

.line {
  width: 300px;
  align-items: center;
  margin: auto;
} */